@using System.ComponentModel.DataAnnotations
<div>
    <h4 class="mb-3">Billing address</h4>
    <EditForm Model="_model" class="needs-validation" OnValidSubmit="@ProcessCheckout">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                @* <input type="text" class="form-control" id="firstName" placeholder="" value="" required> *@
                <InputText id="firstName" class="form-control" @bind-Value="_model.FirstName" required/>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <InputText id="lastName" class="form-control" @bind-Value="_model.LastName" required/>
            </div>
        </div>

        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@@</span>
                </div>

                <InputText id="username" class="form-control" @bind-Value="_model.UserName" required/>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <InputText id="email" class="form-control" @bind-Value="_model.Email"/>
        </div>

        <div class="mb-3">
            <label for="address">Address</label>
            <InputText id="address" class="form-control" placeholder="1234 Main St" @bind-Value="_model.BillingAddress.Address" required/>
        </div>

        <div class="mb-3">
            <label for="address2">Address 2<span class="text-muted">(Optional)</span></label>
            <InputText id="address2" class="form-control" placeholder="Apartment or suite" @bind-Value="_model.BillingAddress.Address2"/>
        </div>

        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <InputSelect
                    id="country"
                    class="form-control"
                    @bind-Value="_model.BillingAddress.Country" required>
                    <option value="">Select a Country</option>

                    @foreach (var country in Countries.All())
                    {
                        <option value="@country.Code">@country.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="col-md-4 mb-3">
                <label for="state">State (Optional)</label>
                <InputText id="state" class="form-control" @bind-Value="_model.BillingAddress.State"/>
            </div>
            <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <InputText id="zip" class="form-control" @bind-Value="_model.BillingAddress.ZipCode"/>
            </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <InputCheckbox id="same-address" @bind-Value="_model.SameAddressForShippingAsBilling"/>
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
        </div>
        <hr class="mb-4">

        @if (!_model.SameAddressForShippingAsBilling)
        {
            <h4 class="mb-3">Shipping address</h4>

            <div class="mb-3">
                <label for="shipping-address">Address</label>
                <InputText id="shipping-address" class="form-control" placeholder="1234 Main St" @bind-Value="_model.ShippingAddress.Address" required/>
            </div>

            <div class="mb-3">
                <label for="shipping-address2">Address 2<span class="text-muted">(Optional)</span></label>
                <InputText id="shipping-address2" class="form-control" placeholder="Apartment or suite" @bind-Value="_model.ShippingAddress.Address2"/>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="shipping-country">Country</label>
                    <InputSelect
                        id="shipping-country"
                        class="form-control"
                        @bind-Value="_model.ShippingAddress.Country" required>
                        <option value="">Select a Country</option>

                        @foreach (var country in Countries.All())
                        {
                            <option value="@country.Code">@country.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="shipping-state">State (Optional)</label>
                    <InputText id="shipping-state" class="form-control" @bind-Value="_model.ShippingAddress.State"/>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="shipping-zip">Zip</label>
                    <InputText id="shipping-zip" class="form-control" @bind-Value="_model.ShippingAddress.ZipCode"/>
                </div>
            </div>

            <hr class="mb-4">
        }

        <h4 class="mb-3">Payment</h4>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="cc-number">Credit card number</label>
                <InputText id="cc-number" placeholder="XXXX XXXX XXXX XXXX" class="form-control" @bind-Value="_model.Card.Number"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <InputDate id="cc-expiration" class="form-control" type="@InputDateType.Month" @bind-Value="_model.Card.ExpirationDate" required/>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-security">CVV</label>
                <InputText id="cc-security" class="form-control" @bind-Value="_model.Card.SecurityCode" length="3" pattern="\d*"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="cc-name">Name on card</label>
                <InputText id="cc-name" class="form-control" @bind-Value="_model.Card.Name"/>
                <small class="text-muted">Full name as displayed on card</small>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" @onclick="@ProcessCheckout">Continue to checkout</button>
    </EditForm>
</div>

@code {

    private CheckoutFormModel _model = new();

    public class CardModel {
        public string Number { get; set; } = null!;
        public string Name { get; set; } = null!;
        public DateTime ExpirationDate { get; set; }
        public string SecurityCode { get; set; } = null!;
    }

    public class AddressModel {
        public string Address { get; set; } = null!;
        public string? Address2 { get; set; }
        public string Country { get; set; } = null!;
        public string ZipCode { get; set; } = null!;
        public string? State { get; set; }
    }

    public class CheckoutFormModel {

        public string FirstName { get; set; } = null!;
        public string LastName { get; set; } = null!;
        public string UserName { get; set; } = null!;

        [EmailAddress]
        public string? Email { get; set; }

        public bool SameAddressForShippingAsBilling { get; set; } = true;
        public AddressModel BillingAddress { get; } = new();
        public AddressModel ShippingAddress { get; } = new();

        public CardModel Card { get; } = new();
    }

    [Parameter]
    public string[] SelectedBooks { get; set; } = null!;

    private void ProcessCheckout(object plop)
    {
    // 1. check 3DS1 - 3DS2

    // 2. ask for code (3ds1 or 3ds2)

    // 3. validate payment

    // 4. process checkout
    }
}